html {
    position: relative;
    min-height: 100%;
  }

  
  body {
    margin-bottom: 66px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 54px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: 6px solid #17a2b8;
    box-shadow: 0 -4px 10px #333;
  }
.box {
    box-shadow: 0 4px 10px #333;
}


.bg-gray {
    background-color: #ddd
}

.img-title {
    position:absolute; 
    top:0; 
    background: #eee; 
    width:100%; 
    text-align: center; 
    padding:4px 0;
    font-weight: bold;
    text-transform: capitalize;

}
.card-footer {
    padding: 2px!important;
}

.title {
    text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 6px 0 #242424, 
    0 7px 0 #222, 
    0 8px 0 #202020, 
    0 9px 0 #1e1e1e, 
    0 10px 0 #1c1c1c, 
    0 11px 0 #1a1a1a, 
    0 12px 0 #181818, 
    0 13px 0 #161616, 
    0 14px 0 #141414, 
    0 15px 0 #121212, 
    0 22px 30px rgba(0,0,0,0.9);
    font-family: 'Corben', cursive;
    text-align: center;
}

a:hover {
    text-decoration: none;
}


.pretty-button {
    box-shadow: 
    inset -1px 3px 8px 5px #17a2b8, 
    2px 5px 16px 0px #0B325E, 
    5px 5px 15px 5px rgba(193,246,255,0);
}

.pretty-button:hover{
    box-shadow: 
    inset -1px 3px 8px 5px #17a2b8, 
    2px 5px 16px 0px #0B325E, 
    5px 5px 15px 5px rgba(193,246,255,0);
    background-color: #17a2b8;
}
.pretty-button:active{
    box-shadow: 
    inset -1px 3px 8px 5px #17a2b8, 
    2px 5px 16px 0px #0B325E, 
    5px 5px 15px 5px rgba(193,246,255,0);
    background-color: #343a40;
}
.pretty-button:focus{
    box-shadow: 
    inset -1px 3px 8px 5px #17a2b8, 
    2px 5px 16px 0px #0B325E, 
    5px 5px 15px 5px rgba(193,246,255,0);
    background-color: #343a40;
    color: #17a2b8;
    border-color: #17a2b8
}
.red {color: red!important}

.navbar-toggler-icon {
    background: none!important;
    display: inline;}
    
.navbar-toggler {
    margin: 0 auto!important;
    border-color: rgba(255,255,255,.1);
    color: #343a40!important;
}

.navbar-toggler:focus {
    border-color: rgba(255,255,255,.1);
    outline: 0;
    color: #343a40!important;
}

.animate-it {
    animation-name: animateIt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animateIt {
    0% {color: white; position: relative; top: -5px;}
    100% {color: #343a40; position: relative;top: 5px;}
}